@media only screen and (max-device-width: 500px){
  .playlist img{
    width: 50px;
    height: 50px;
  }
}

body {
  background: linear-gradient(
    90deg,
    rgba(19, 19, 19, 1) 0%,
    rgb(7, 1, 17) 51%,
    rgb(14, 1, 37) 100%
  );
}

#botoes img {
  width: 34px;
  padding-right: 10px;
  padding-bottom: 4px;
  filter :invert(1)
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 38px;

  font-family: 'Work Sans', sans-serif;
}

header button {
  margin-right: 10px;
}

h1,h2 {
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.playlists{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 60px;
}

.playlist{
  align-self: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  order: 4;
  margin-left: 80px;
  margin-bottom: 20px;
}

.playlist img{
  width: 300px;
  height: 300px;
}

img[data-color]:hover {
  border: 5px solid;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(#383838, #7d7d7d);
}
body::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
}
